<!-- begin ac tableHeader.phtml -->
		



<table 
    class="list table table-striped widefat post fixed striped display" 
    id="<?= $this->_table ?>Table"
    style="width:100%"
>
    <thead>
      <tr class="reverse">
      <?php if(!$this->hideActionCell) { ?>
        <th class="HeaderRow">Action</th>
        <? } ?>
        <?
        if($row) {
            foreach($row as $f=>$v) {
                if(is_numeric($f)) $f = $v;
              if(!in_array($f,$this->_hiddenFields)) { ?>
                <th class="HeaderRow"><?= $browse->getSortHeader($this->camelcaps($f),$f); ?></th>
           <? }
            }
        }
        ?>
        </tr>
    </thead>
    <tbody>  
            