<br />
<div id="ACTable-adminPageTop" class='nav btn-group' role='group'>
        <a class="addMe btn btn-default" 
            id="<?= $this->_table ?>_<?= $this->_db ?>" 
            href="<?= $this->_controller ?>&action=edit&table=<?= strip_tags($this->_table) ?>&<?= strip_tags($this->_idField) ?>=new&page=<?= urlencode($_REQUEST['page']) ?>"
        >
            <i class='fa fa-plus'></i> Create New <?= $filtered_title ?>
        </a>
    
        <a class='btn btn-default' href="<?= $_SERVER['PHP_SELF'] ?>?table=<?= $this->_table ?>" id='adminPageTopBrowse'>
            <i class='fa fa-list'></i> Browse <?= strip_tags($filtered_title) ?>s</a>
     <a class="reportMe btn btn-default" href="<?= $_SERVER[PHP_SELF] ?>?table=<?= $this->_table ?>&action=report">
        <i class='fa fa-dashboard'></i> Report</a>
     <a class='btn btn-default' href="<?= $_SERVER['PHP_SELF'] ?>?table=<?= $this->_table ?>&action=bulk_import_form">
      <i class='fa fa-upload'></i> Import</a>
     <a class='btn btn-default' href="<?= $_SERVER['PHP_SELF'] ?>?table=<?= $this->_table ?>&action=table_export">
      <i class='fa fa-download'></i> Export </a>
    <?
    if(is_numeric($this->id)) {
      ?><a class="addMe" href="<?= $this->_controller ?>&action=edit&table=<?= $this->_table ?>&<?= $this->_idField ?>=<?= $this->id ?>">Edit <?= $filtered_title ?></a><?
    }
    $this->adminPageTopExtend();
    ?>
    <!-- see adminPageTopExtend -->
</div>
<br />
<br />